<h1>Welcome to Scrabble</h1>
<form action="/score">
  <div class="form-group">
    <label for="score">What word would you like to get the score of?
    </label>
    <input id="score" name="score" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
